@import "variable/variables";
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    background-color: $color;
}

@mixin mixin($colorado, $font-size) {
    text-decoration: none;
    padding: 10px;
    width: 45px;
    height: 20px;
    border: black 1px solid;
    color: whitesmoke;
    text-shadow: 1px 0px;
    transition: 500ms;
    background-color: $colorado;
    font-size: $font-size;
}

.items {
    @include mixin (rgb(182, 102, 5), 30px);
}

.button {
    display: flex;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    background-color: yellowgreen;
    // tu pekne vidis ze co robi pozadi v divisione a pozadi v  buttone ..super//
}

.button button {
    background-color: aqua;
    color: wheat;
    &:hover {
        background-color: yellowgreen;
    }
}

@import "variable/variables";
.list {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: $color;
    flex-wrap: wrap;
    flex-basis: 20%;
}

.list li {
    font-size: $size;
}

.items a {
    font-size: $size;
}

@media screen and (max-width: 900px) {
    .list {
        background-color: gray;
        border: 4px solid red;
    }
}